# Base de datos MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=exploratur_db

# JWT
JWT_SECRET=exploratur_clave_secreta_2026_academico
JWT_EXPIRES_IN=24h

# CORS
FRONTEND_URL=http://localhost:5173

# Servidor
PORT=8000
